/* DataTable  Highlight */
td.highlight {
  background-color: whitesmoke !important;
}

/* DataTable Buttons */
.fred {
  background-color: #2282FE
  !important;
  color: white !important;
  border-color: transparent;
}